<div class="container">
	<div class="card">
	  <div class="card-body">
	    <h5 class="card-title row">
	    	<div class="col-2">Name:</div>
	    	<div class="col-8"><%= @customer.first_name %> <%= @customer.last_name %></div>
	    </h5>
	    <hr>
	    <%= link_to "Edit this category", edit_customer_path(@customer), class: "btn btn-info" %>
	    <%= link_to "Delete this product", customer_path(@customer), class: "btn btn-danger",
	    			method: :delete, data: { confirm: "Are you sure ?"} %>
	  </div>
	</div>